

/* ///////////////////////////CSS DEL INDEX//////////////////////////////////////////// */
html{
    font-family: 'Arial Bold', sans-serif;
    margin: 0%;
    padding: 0%;
}

.cuerpo1{
    margin: 0%;
    padding: 0%;
    background-color: rgb(9, 65, 185);
    width: 100%;
    height: auto;
}

.content-fondo1{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   height: auto;
}

.fondo1{
    display: flex;
    width: 97%;
    height: 880px;
    border-radius: 20px;
    margin-top: 28px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.conten-fondo-login{
    display: flex;
    width: 700px;
    height: 1000px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.conten-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    row-gap: 50px;
}

.img-login{
    display: flex;
    padding-top: 60px;
    width: 100px;
    height: 100px;
    margin-bottom: -20px;
}

.conten-textos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 30px;
    font-family: 'Arial Bold', sans-serif;
}

h3{
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: -40px;
}

p{
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  padding: 30px;
  font-size: 19px;
}

.conten-p-final{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: -40px;
    text-align: justify;
}

.p-final{
    display: flex;
    font-size: 11pt;
    font-family: 'Arial Bold', sans-serif;
}

.conten-p-final2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: justify;
}

.p-final2{
    display: flex;
    font-size: 11pt;
    font-family: 'Arial Bold', sans-serif;
    padding-top: -10px;
    padding-bottom: 10%T;
}

.conten-p-final3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 10px;
}

.p-final3{
    display: flex;
    font-size: 11pt ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: justify;
    margin-bottom: 25px;
}

.conten-barra-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count{
    display: flex;
    margin-top: -50px;
    font-family: 'Arial Bold', sans-serif;
}

.progress{
    display: flex;
    width: 83%;
    border-radius: 2px;
    margin-top: -40px;
}

.conten-p1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p1{
    display: flex;
    font-family: 'Arial Bold', sans-serif;
    font-size: 11pt;
    color: #aa1a10;
    text-align: center;
}



.campos{
    display: flex;
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: rgb(248, 242, 188);
    color: blue;
    padding: 10px;
    font-size: 18px;
}

::placeholder{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(23, 60, 228);
    padding: 10px;
}

.genero{
    display: flex;
    width: 83%;
    height: 60px;
    border-radius: 15px;
    border: none;
    background-color: rgb(248, 242, 188);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(23, 60, 228);
    padding: 10px;
}

.lista{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 10px;
}

.conten-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 20px;
}

.button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Arial Bold', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 18, 10);
    width:30%;
    height: 40px;
    padding-top: 20px;
    border-radius: 20px;
    cursor: pointer;
} 

.button:hover{
    background-color: rgb(53, 53, 218);
}



.conten-button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.button2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Arial Bold', sans-serif;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 18, 10);
    width:70%;
    height: 30px;
    margin-top: -20px;
    padding-top: 10px;
    border-radius: 10px;
    cursor: pointer;
} 

.button2:hover{
    background-color: rgb(53, 53, 218);
}

.conten-buttonR{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.buttonR {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Arial Bold', sans-serif;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 5, 5);
    width:75%;
    height: 43px;
    margin-top: -20px;
    padding-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* ///////////////////////////CSS DE LAS PAGINAS//////////////////////////////////////////// */


.container2{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
}

.conten-fondo-login2{
    display: flex;
    width: 700px;
    height: 900px;
    background-color: white;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container3{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
}

.conten-fondo-login3{
    display: flex;
    width: 700px;
    height: 800px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container4{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.conten-fondo-login4{
    display: flex;
    width: 700px;
    height: 850px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container5{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.conten-fondo-login5{
    display: flex;
    width: 700px;
    height: 850px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container6{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.conten-fondo-login6{
    display: flex;
    width: 700px;
    height: 850px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container7{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.conten-fondo-login7{
    display: flex;
    width: 700px;
    height: 850px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container8{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.conten-fondo-login8{
    display: flex;
    width: 700px;
    height: 830px;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.fondo2{
    width: 100%;
    height: auto;
    background-image: url(./fondo2.jpg);
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.conten-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 20px;
}

.option{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 18, 10);
    width:60%;
    height: 40px;
    padding-top: 20px;
    border-radius: 20px;                                   
}                     

.conten-option :hover{
    background-color: blue;
    
}

textarea{
    width: 70%;
    height: 20%;
    background-color: rgb(248, 242, 188);
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    border-color: blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}



/* //////////////////////////////RESPONSIVE PAGINAS --- INDEX////////////////////////////// */

@media (max-width: 730px) {
    .fondo1{
        width: 90%;
        height: 500px;
    }
}

@media (max-width: 470px) {
    .fondo1{
        width: 90%;
        height: 300px;
    }
}

@media (max-width: 350px) {
    .fondo1{
        width: 90%;
        height: 250px;
    }
}

@media (max-width: 730px) {
    .conten-fondo-login{
        width: 530px;
        height: 970px;
    }
}

@media (max-width: 630px) {
    .conten-fondo-login{
        width: 450px;
        height: 900px;
    }
}

@media (max-width: 470px) {
    .conten-fondo-login{
        width: 350px;
        height: 850px;
        margin-top: 50px;
    }
}

@media (max-width: 380px) {
    .conten-fondo-login{
        width: 320px;
        height: 840px;
    }
}

@media (max-width: 340px) {
    .conten-fondo-login{
        width: 300px;
        height: 840px;
    }
}



@media (max-width: 730px) {
    h4{
        font-size: 13px;
        margin-top: 10px;
        padding-bottom: 30px;
    }
}

@media (max-width: 430px) {
    h4{
        font-size: 13px;
        margin-top: 10px;
        padding-bottom: 30px;
    }
}

@media (max-width: 730px) {
    p{
        margin-top: -60px;
        padding: 30px;
        font-size: 12px;
    }
}

@media (max-width: 730px) {
    .button{

        width:30%;
        height: 30px;
        font-size: 17px;
        
    }
}

@media (max-width: 380px) {
    .button{

        width:30%;
        height: 30px;
        font-size: 16px;
    }
}

@media (max-width: 730px) {
    .campos{
        margin-top: -25px;
        width: 67%;
        height: 25px;
        font-size: 16px;
    }
}

@media (max-width: 730px) {
    .genero{
        width: 70%;
        height: 45px;
        font-size: 16px;
        margin-top: -20px;

    }
}


@media (max-width: 730px) {
    ::placeholder{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(23, 60, 228);
        padding: 10px;
    }
}

@media (max-width: 380px) {
    .lista{
        font-size: 15px;
    }
}

/* ///////////////////// PAGINA1///////////////////// */

@media (max-width: 730px){

    .conten-fondo-login7{
        width: 345px;
        height: 760px;
    }
}

@media (max-width: 730px){

    .option{
        width:60%;
        height: 35px;
    }
}

/* /////////////////////////PAGINA2//////////////////// */


@media (max-width: 730px){

    .conten-fondo-login6{
        width: 345px;
        height: 750px;
    }
}

@media (max-width: 730px){

    .option{
        width:60%;
        height: 35px;
    }
}


/* /////////////////////////PAGINA3//////////////////// */


@media (max-width: 730px){

    .conten-fondo-login5{
        width: 345px;
        height: 750px;
    }
}

@media (max-width: 730px){

    .option{
        width:60%;
        height: 35px;
    }
}


/* /////////////////////////PAGINA4//////////////////// */

@media (max-width: 730px){

    .conten-fondo-login4{
        width: 345px;
        height: 750px;
    }
}

@media (max-width: 730px){

    .option{
        width:60%;
        height: 35px;
    }
}

/* /////////////////////////PAGINA5//////////////////// */

@media (max-width: 730px){

    .conten-fondo-login3{
        width: 345px;
        height: 750px;
    }
}

@media (max-width: 730px){

    .option{
        width:60%;
        height: 35px;
    }
}



/* /////////////////////////PAGINA6//////////////////// */

@media (max-width: 730px){

    .conten-fondo-login8{
        width: 500px;
        height: 800px;
    }
}

@media (max-width: 730px){

    .conten-fondo-login8{
        width: 345px;
        height: 730px;
    }
}

@media (max-width: 730px){

    .option{
        width:60%;
        height: 35px;
    }
}

@media (max-width: 730px){

    h3{
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: -40px;
    }
}

/* /////////////////////////PAGINA7//////////////////// */


@media (max-width: 530px){

    .conten-fondo-login2{
        width: 345px;
        height: 900px;
    }
}

@media (max-width: 530px){

    .option{
        width:60%;
        height: 35px;
    }
}

/* //////////////////////////// DISEÑO DE CARGA/////////////////////////////////////// */

.loader-container{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px;
  }
   
  .loader-container .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    border: solid 7px transparent;
    border-top-color: #ff0909;
    border-left-color: #ff0606;
    border-radius: 50%;
    animation: loader 2s linear infinite;
    margin-top: 160px;
  }
   
  .loader-container .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    border: solid 7px transparent;
    border-top-color: #283fc3;
    border-left-color: #283fc3;
    border-radius: 50%;
    animation: loader2 2s linear infinite;
    margin-top: 160px;
  }
   
  @keyframes loader{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
   
  @keyframes loader2{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  


  
  
  
